:root {
    --light-gray-color: #f2f2f2;
    --green-color:   #00cc99;
}

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
a {
    transition: ease 0.2s;
}

/*-------------SCROLLUP BUTTON-------------------*/
.scrollup {
  position: fixed;
  color: var(--light-gray-color);
  background-color: var(--green-color);
  right: 30px; 
  bottom: 0px; 
  padding: 4px 10px; 
  font-size: 20px; 
  border-top-left-radius: 4px; 
  border-top-right-radius: 4px;
  cursor: pointer; 
  display: none;
  text-align: center; 
}
.scrollup:hover {
  background-color: #000; 
}
/*------------------------------------------------*/
    
    
/*
----------------------------------------------
        
        HEAD
        
----------------------------------------------
*/
.fixed-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.top-nav {
    background-color: var(--green-color);
    margin-top: -20px;
    text-align: right;
    padding: 5px 10px;
    color: #FFF;
    font-size: 0.9rem;
}
.top-nav i {
    margin-right: 5px;
}
.logo {
    margin-top: -20px;
    padding: 15px;
    background-color: #f2f2f2;
}
.logo img {
    display: block;
    margin: auto;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--green-color);
}
.nav-bar .icon {
    display: none;
}
.nav-bar a{
    display: inline-block;
    text-decoration: none;
    padding: 6px 36px;
    color: #000;
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 1.6px;
}
.nav-bar a:hover {
    color: var(--green-color);
    background-color: rgba(242, 242, 242, 0.7);
    border-radius: 3px;
}
.text-image {
    position: absolute;
    background-color: rgba(242, 242, 242, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}
.text-image h3 {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    letter-spacing: 1.6px;
}
.text-image p {
    word-spacing: 15px;
}
.header-image {
    position: relative;
    margin-bottom: 70px;
}
.header-image img {
    display: block;
    width: 100%;
    height: 100vh;
}
.central-btn a {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    font-size: 0.9rem;
    color: var(--light-gray-color);
    background-color: var(--green-color);
    margin-top: 10px;
    padding: 10px 34px;
    letter-spacing: normal;
    border-radius: 3px;
    cursor: pointer
}
.central-btn a:hover {
    background-color: rgba(242, 242, 242, 0.7);
    color: var(--green-color);
}

/*        NAV-BAR MEDIA QUERIES    */
@media screen and (max-width: 600px) {
    .top-nav {
        text-align: center;
        font-size: 0.8rem;
    }
    .logo {
        padding: 5px;
    }
    .logo img {
        width: 120px;
        height: auto;
    }
    .nav-bar {
        flex-direction: column;
    }
    .nav-bar a {
        display: none;
    }
    .nav-bar a.icon {
        display: block;
        text-align: right;
    }
    .nav-bar.responsive {
        position: relative;
    }
    .nav-bar.responsive a.icon {
        position: absolute;
        right:0;
        top:0;
    }
    .nav-bar.responsive a {
        display: block;
        text-align: left;
    }
    .nav-bar a {
        position: sticky;
        top: 0;
}
    .text-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 1.4px;
        padding: 5px;
        font-size: 0.9rem;
}
    .text-image h3 {
        padding-bottom: 10px;
        letter-spacing: 1.4px;
    }
    .text-image p {
        word-spacing: 10px;
    }
        .central-btn a {
        display: none;
    }
}


/*        HEAD MEDIA QUERIES    */
@media screen and (max-width: 800px) {
    .header-image {
        margin-bottom: 50px;
    }
    .header-image img {
         height: 100%;
    }
   .text-image {
        top: 50%;
        letter-spacing: 1.4px;
        padding: 5px;
        font-size: 0.6rem;
}
    .text-image h3 {
        padding-bottom: 10px;
        letter-spacing: 1.4px;
}
    .text-image p {
        word-spacing: 10px;
}
    .central-btn a {
        top: 75%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        margin-top: 15px;
        padding: 6px 22px;
    }
}

@media screen and (max-width: 800px) {
    .header-image img {
         height: 50%;
    }
   .text-image {
        top: 60%;
        letter-spacing: 1.4px;
        padding: 5px;
        font-size: 0.6rem;
}
    .text-image h3 {
        padding-bottom: 10px;
        letter-spacing: 1.4px;
}
    .text-image p {
        word-spacing: 10px;
}
    .central-btn a {
        top: 75%;
        transform: translate(-50%, -50%);
        font-size: 0.9rem;
        margin-top: 15px;
        padding: 10px 32px;
    }
}
/*
-----------------------------------------------------

          ABOUT

-----------------------------------------------------
*/
#about-section {
    max-width: 100%;
    margin-bottom: 100px;
}
.about {
    margin-bottom: 50px;
}
.about-header {
    width: 10%;
    border-bottom: 3px solid var(--green-color);
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
}
.about-text {
    padding: 10px 0 18px 0; 
    width: 70%;
    margin: auto;
}
.about-text p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.benefit-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.benefit-item {
    background-color: var(--light-gray-color);
    width: 220px;
    height: 220px;
    padding: 15px;
    border-radius: 5px;
}
.benefit-item img {
    display: block;
    margin: auto;
}
.item-text p{
    margin: auto;
    text-align: center;
    padding-top: 15px;
    letter-spacing: 1.6px;
}

/*        ABOUT-SECTION  MEDIA QUERIES    */
@media screen and (max-width: 600px) {
    #about-section {
        margin-bottom: 30px;
    }
    .about {
        margin-bottom: 30px;
    }
    .about-header {
        width: 25%;
        font-size: 0.8rem;
        letter-spacing: 1.4px;
        margin-bottom: 5px;
    }
    .about-text {
        width: 100%;
    }
    .benefit-column {
       flex-direction: column;
       align-items: center;
  }
    .benefit-item {
        text-align: center;
        width: 180px;
        height: 180px;
        padding: 0;
        margin-bottom: 20px;
    }
    .benefit-item img {
        display: block;
        margin: auto;
    }
    .item-text {
        padding-top: 0px;
        letter-spacing: 1.4px;
        font-size: 1rem;
    }
    }
/*
------------------------------------------------------
            
            SERVICE

------------------------------------------------------
*/
#service-section {
    margin-bottom: 80px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.service-box {
    float: left;
    width: 50%;
    height: 400px;
    background-color: var(--light-gray-color);
}
.service-box img {
    display: inline-block;
    width: 100%;
    max-height: 100%;
    border-left: 3px solid var(--green-color);
}
.service-box ul {
    margin: 30px 100px;
    list-style-image: url('images/icons8-%D0%B3%D0%B0%D0%BB%D0%BE%D1%87%D0%BA%D0%B0-16.png');
}
.service-box li {
    margin-top: 5px;
    letter-spacing: 1.5px;
}
.service-header {
    width: 25%;
    border-bottom: 3px solid var(--green-color);
    margin: auto;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.6px;
}

/*____________________________
SERVICE-SECTION  MEDIA QUERIES
______________________________
*/
@media screen and (max-width: 600px) {
#service-section {
    margin-bottom: 30px;
}
.service-box {
    width: 100%;
    float: none;
}
.service-box img {
    border-left: none;
    border-top: 3px solid var(--green-color);
    height: 100%;
}
.service-box ul {
    margin: 5px 65px;
}
.service-box li {
    margin-top: 2px;
    letter-spacing: 1.4px;
}
.service-header {
    font-size: 0.8rem;
    letter-spacing: 1.4px;
    padding-top: 10px;
}
}
@media screen and (max-width: 800px) {
#service-section {
    margin-bottom: 30px;
}
.service-box {
    width: 100%;
    float: none;
}
.service-box img {
    border-left: none;
    border-top: 3px solid var(--green-color);
    height: 100%;
}
.service-box ul {
    margin: 10px 75px;
}
.service-box li {
    margin-top: 4px;
    letter-spacing: 1.4px;
}
.service-header {
    font-size: 0.9rem;
    letter-spacing: 1.4px;
    padding-top: 10px;
}
}
@media screen and (max-width: 1050px) {
.service-box {
    width: 100%;
    float: none;
}
}
/*
------------------------------------------------------
            
            GALLERY
            
------------------------------------------------------
*/
#gallery-section {
    margin-bottom: 80px;
}
.gallery-row {
    margin-top: 30px;
}
.gallery-header {
    width: 10%;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.6px;
    border-bottom: 3px solid var(--green-color);
}
.gallery-column {
    float: left;
    width: 20%;
    padding: 10px;
    
}
/*style the images inside the grid*/
#myImg {
    display: block;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/*add animation*/
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/*the close button*/
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px){
  .modal-content {
    width: 100%;
  }
}
/*clear floats after the columns*/
.gallery-row:after {
    content: "";
    display: table;
    clear: both;
}
/*____________________________
GALLERY-SECTION  MEDIA QUERIES
______________________________
*/
@media screen and (max-width: 400px){
    .gallery-column {
    width: 100%;
}
}
@media screen and (max-width: 600px){
    .gallery-column {
    width: 50%;
}
    .gallery-header {
    width: 25%;
    letter-spacing: 1.4px;
    font-size: 0.8rem;
}
}


/*
------------------------------------------------------
            
            FOOTER
            
------------------------------------------------------
*/

#footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2f2f2;
}
.footer-logo {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    border: 2px solid var(--green-color);
}
.footer-header {
    margin: 10px;
    text-align: center;
}
.footer-header span {
    letter-spacing: 1.6px;
}
.footer-navigation, .footer-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-navigation a {
    display: block;
    text-decoration: none;
    color: #000;
    margin: 10px;
    letter-spacing: 1.6px;
    border-bottom: 1px dotted var(--light-gray-color);
    
}
.footer-navigation a:hover {
    border-bottom: 1px dotted var(--green-color);
}
#footer-section i {
    font-size: 16px;
    padding-right: 5px;
    color: var(--green-color);
}
.footer-adress {
    margin-top: 15px;
}
/*____________________________
FOOTER-SECTION  MEDIA QUERIES
______________________________
*/
@media screen and (max-width: 600px){
#footer-section {
    flex: 80%;
    flex-wrap: wrap;
    font-size: 0.9rem;
}
  .footer-logo {
display: none;
  }
.footer-header {
    margin-top:-10px;
}
.footer-header span {
    letter-spacing: 1.4px;
}
.footer-navigation {
    margin-top: -70px;
}
.footer-navigation a {
    display: block;
    text-decoration: none;
    color: #000;
    margin: 5px;
    letter-spacing: 1.4px;
    border-bottom: 1px dotted var(--light-gray-color);
}
.footer-navigation a:hover {
    border-bottom: 1px dotted var(--green-color);
}
.footer-navigation i {
    font-size: 16px;
    padding-right: 5px;
    color: var(--green-color);
}
.footer-adress {
    margin-top: -20px;
    text-align: center;
}
.footer-adress i {
    padding-right: 0;
}
}
@media screen and (max-width: 800px){
#footer-section {
    flex: 50%;
    flex-wrap: wrap;
}
  .footer-logo {
display: none;
  }
.footer-header {
    margin-top: 20px;
    text-align: center;
}
  .footer-header h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer-header span {
    letter-spacing: 1.4px;
}
.footer-navigation {
    margin-top: -10px;
}
.footer-adress {
    margin-top: 20px;
}
}






